body{
  background-image: url('https://media.istockphoto.com/id/1180600459/vector/page-icon-futuristic-digital-abstract-blue-background.jpg?s=612x612&w=0&k=20&c=Xw4U-ZBf71Y7m1j3y41zYEHHrYGZ9NBbcp2_0JZlI_A=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

table{
  width: 80%;
  margin: 40px auto;
  padding-left: 500px;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

table.list{
  text-align: center;
  width: 100%;
  padding: 0;
}

.label-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

td{
  border: 1px solid rgb(204,200,200);
  text-align: left;
  padding: 8px 15px;
}


tr:nth-child(even), table.list thread> tr{
  background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
  width:91%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

.form_action--button{
  display: flex;
  gap: 10px;
}

input[type="submit"],input[type="reset"]{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  color: #4b99d8;
}

input[type="submit"]:hover{
  background: #4b99d8;
  color: white;
}

input[type="reset"]:hover{
  background: #4b99d8;
  color: white;
}

input{
  background-color: transparent;
  color: white;
}

button{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover{
  background:#4b99d8 ;
}

